:root {
  --primary-color: #4f5458;
  --font-color: #ffffff;
  --violet-color: #a661ff;
  --dark-violet-color: #5914b1;
  --typing-box-background-color: #faf8f8;
  
  /*Dial colors*/
  --timing-stroke-color: #8a3cee;
  
  /*Fonts colors*/
  --white-color: #ffffff;
  --grey-color: #505050;
  
  /*Buttons colors*/
  --Next-button-color: #52AC4B;
  --connexion-button: hsl(35, 100%, 50%);
  --shadow-connexion-button: hsl(35, 15%, 54%);
}
