:root {
  --primary-color: #4f5458;
  --orange-color: hsl(35, 100%, 50%);
  --violet-color: #a661ff;
  --dark-violet-color: #5914b1;
  --typing-box-background-color: #faf8f8;

  /*Fonts colors*/
  --white-color: #ffffff;
  --grey-color: #505050;
  --dark-blue-color: #0A335C;

  /*Buttons colors*/
  --Next-button-color: var(--dark-violet-color);
  --Retry-button-color: var(--dark-violet-color);
  --connexion-button: var(--orange-color);
  --shadow-connexion-button: hsl(35, 15%, 54%);

  /*Dial colors*/
  --timing-stroke-color: hsl(167, 78%, 47%);
  --spedd-stroke-color: hsl(35, 100%, 50%);
  --accuracy-stroke-color: hsl(35, 100%, 50%);

  /*Drop down colors*/

  --option-hover-color: #f5f5f5;

  /*Loader colors*/
  --first-ball-color: #a661ff;
  --second-ball-color: hsl(167, 78%, 47%);
  --third-ball-color: hsl(35, 100%, 50%);
  --fourth-ball-color: #0f5bff;
}
